body{ /* target whole body of page */
    font: 15px/1.5 Arial, Helvetica,sans-serif; /* set font size and family */
    /* font applied will read from list (from left) and if the first is available, then that font is used */
    padding:0;
    margin:0; /* Remove default 5px margin on body */
    background-color:#f4f4f4; /* background color of whole page */
}

/* Header */
header{ /* target all header tags on page */
    background:#35424a; /* background property of header tag */
    color:#ffffff; /* set text color */
    padding-top:30px; /* set only top padding */
    min-height:70px; /* set height of header to not be less than value */
    border-bottom:#e8491d 3px solid;  /* set only bottom border to values given */
  }

  header a{ /* target all anchor tags in header tags on page */
    color:#ffffff;
    text-decoration:none; /* text decoration: underlined overlined throughline */
    text-transform: uppercase; /* text transform: capitalise, lowercase */
    font-size:16px; /* text size */
  }

  header li{
    display: inline;
    padding: 0 20px 0 20px;
  }

  header #branding{
    float:left; /* Elements next to a floating element will flow around it. Absolutely positioned elements ignore the float property! */
  }

  header #branding h1{
    margin:0;
  }

  header nav{
    float:right;
    margin-top:10px;
  }

  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold; /* sets how thick or thin characters in text */
  }

  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center; /* Set the text alignment */
  }

  table th{
    border: 2px solid silver;
  }
  table td{
    border: 2px solid gold;
  }
  #text{
    width: 15cm;
    text-align:justify;
    margin: 2cm auto;
    background-color: navy;
    border-radius: 5px;
    color: white;
    padding: 10px;

  }
